body {
    background-color: rgb(89, 89, 179);

}

#canvas-container {
    display: flex;
    justify-content: center;

}
#button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#my-canvas {
    background-color: white;

}